{% extends "base.html" %}

{% block content %}

  <p>Manufacturer: ({{ car.manufacturer.name }}, {{ car.manufacturer.country }})</p>
    <p>
        <a class="btn btn-outline-primary" href="{% url 'taxi:car-update' pk=car.pk %}">Update</a>
        <a class="btn btn-outline-danger" href="{% url 'taxi:car-delete' pk=car.pk %}">Delete</a><br>
    </p>

  <h1>Drivers</h1>
  <hr>
  <ul>
    {% for driver in car.drivers.all %}
        <li>
            <a href="{% url 'taxi:driver-detail' pk=driver.pk %}">{{ driver.username }}</a>
            {% if driver.first_name or driver.last_name %}
                (
                {% if driver.first_name %} {{ driver.first_name }} {% endif%}
                {% if driver.last_name %}{{ driver.last_name }}{% endif %}
                )
            {% endif %}
        </li>
    {% endfor %}
  </ul>

{% endblock %}
